@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean");
/*base*/
.clearfix::after { content: ""; clear: both; display: block; }

#top { height: 2px; width: 100%; background: #0e0e0e; }

header #inner { max-width: 1400px; margin: 0 auto; background: url("../images/top_bg2.jpg") no-repeat; background-position: 98% 0; }

header #inner #logo { margin: 10px 0 0 10px; float: left; }

header #inner #logo img { width: 80px; height: 80px; border-radius: 10%; }

header #inner .nav { padding-right: 290px; }

header #inner .nav #gnb_top { float: right; display: flex; flex-direction: row; margin-top: 30px; }

header #inner .nav #gnb_top li { float: left; margin-left: 50px; }

header #inner .nav #gnb_top li a { text-decoration: none; font-family: 'Noto Sans KR', 'sans-serif'; color: #2f1c11; font-size: 13px; }

header #inner .nav #gnb_top .searchbox { display: flex; flex-direction: row; margin-left: 10px; }

header #inner .nav #gnb_top .search { border: none; border-bottom: 1px solid #ccc; width: 100px; }

header #inner .nav #gnb_top .searchbutton { margin-left: 2px; width: 40px; }

header #gnb { max-width: 1400px; margin: 0 auto; display: flex; justify-content: flex-end; }

header #gnb .gnb_inner { padding-right: 250px; }

header #gnb .gnb_inner > ul > li { float: left; text-align: center; height: 30px; width: 118px; position: relative; }

header #gnb .gnb_inner > ul > li > a { text-decoration: none; font-size: 16px; line-height: 28px; color: #2f1c11; font-weight: 600; transition: all .4s; display: block; height: 30px; font-family: 'Noto Sans KR', 'sans-serif'; }

header #gnb .gnb_inner > ul > li > a:hover { color: #dc1212; }

header #gnb .gnb_inner > ul > li > .sub { opacity: 0; visibility: hidden; transition: all .2s; background: rgba(255, 255, 255, 0.8); width: 118px; position: absolute; top: 30px; z-index: 200; }

header #gnb .gnb_inner > ul > li > .sub li { padding: 5px 0; }

header #gnb .gnb_inner > ul > li > .sub li a { color: #353535; text-decoration: none; font-family: 'Noto Sans KR', sans-serif; font-size: 12px; }

header #gnb .gnb_inner > ul > li > .sub li a:hover { color: #dc1212; }

header #gnb .gnb_inner > ul > li:hover .sub { opacity: 1; visibility: visible; }

#content { max-width: 1400px; margin: 0 auto; position: relative; background: #dc1212; }

#content .main_view { width: 80%; }

#content .main_view .view img { width: 100%; height: 100%; }

#content #content_main .delivery_w { position: absolute; top: 0; left: 80%; width: 20%; }

#content #content_main .delivery_w p { padding: 20px 10px 20px 20px; display: inline-block; text-align: center; }

#content #content_main .delivery_w img { width: 20%; }

#content #content_main .delivery_w p .mcd { font-family: 'Noto Sans KR', sans-serif; font-size: 25px; font-weight: bold; color: #ffbd11; }

#content .dd { display: none; }

#content .delivery { margin-top: -2px; width: 50%; background: #dc1212; font-family: 'Noto Sans KR', 'sans-serif'; float: left; display: flex; flex-direction: row; }

#content .delivery h3 { font-size: 30px; color: #ffbd11; font-weight: bold; margin: 0 auto; text-align: center; line-height: 50px; }

#content .delivery h3 span { color: #fff; }

#content .delivery p { padding-top: 10px; margin-right: 100px; }

#content .delivery p a { color: #fff; text-decoration: none; background: #ffbd11; border-radius: 10px; line-height: 30px; padding: 5px 5px; }

#content .drive { margin-top: -2px; width: 50%; background: #ffbd11; font-family: 'Noto Sans KR', 'sans-serif'; float: left; display: flex; flex-direction: row; }

#content .drive h3 { font-size: 30px; color: #dc1212; font-weight: bold; margin: 0 auto; text-align: center; line-height: 50px; }

#content .drive h3 span { color: #fff; }

#content .drive p { padding-top: 10px; margin-right: 100px; }

#content .drive p a { color: #fff; text-decoration: none; background: #dc1212; border-radius: 10px; line-height: 30px; padding: 5px 5px; }

#enjoy { background: #2c251e; }

#enjoy p { text-align: center; font-family: 'Noto Sans KR', 'sans-serif'; font-weight: bold; color: #fff; font-size: 25px; padding: 80px; }

.enjoy_view .enjoy_slider { font-size: 0; }

.enjoy_view .enjoy_slider img { width: 260px; }

.enjoy_view .enjoy_slider li { display: inline-block; width: 260px; float: left !important; }

footer { background: #2C2A29; }

footer .footer_inner { margin: 0 auto; width: 1000px; background: #2C2A29; color: #ccc; padding: 15px 0; font-size: 12px; font-family: 'Noto Sans KR', 'sans-serif'; text-align: center; line-height: 30px; }
