//out :../css/style.css, outputStyle :compact
@charset "UTF-8";
@import "reset.css";
@import "xeicon.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');

/*base*/
.clearfix::after{content:""; clear:both; display:block;}

#top {
  height:2px; width: 100%; background: #0e0e0e;
}
header{
  #inner {max-width:1400px; margin:0 auto; background:url('../images/top_bg2.jpg')no-repeat; background-position:98% 0;
    #logo{margin:10px 0 0 10px; float:left;
      a{display:inline-block; width:80px; height:80px; border-radius:15px; text-indent:-9999px; background:url('../images/mcdonalds-logo.jpg')no-repeat; background-size:100%;}
    }//logo
    .nav{padding-right:290px;
      #gnb_top{float:right; display:flex; flex-direction:row; margin-top:30px;
        li{float:left; margin-left:50px;
          a{text-decoration:none; font-family:'Noto Sans KR', 'sans-serif'; color: rgb(47,28,17); font-size:13px;}
        }//li
        .searchbox{margin-left:10px;}
        .search{border:none; border-bottom: 1px solid #ccc; width:100px}
        .open_menu{display:none}
      }//gnb_top
    }//nav
  }//inner

  /*btn*/
  #btn{
   float:right; margin-top:12px; display:none;
   li{float:left;}
   a{color:#353535; padding:15px 5px;}
   a:hover{color:#ffbd11;}
  .open_search{
    position:relative;
    .tip{position:absolute; background:#000;
    color:#353535; border-radius:3px;
  white-space:nowrap; padding:2px 8px; left:-12px;
  opacity:0; visibility:hidden; transition:all .4s;}
  .tip::after{content:''; position:absolute; top:-5px;
  left:50%; margin-left:-5px;
  border-bottom:5px solid transparent;
  border-left:5px solid transparent;}
  &:hover .tip{opacity:1; visibility:visible;}
  }//.open_search


   .open_menu{

     i{float:left; font-size:30px; margin-top:-3px;}
     .xi-close{display:none;}
     span{float:left; font-size:10px; font-size:10px; line-height:1.1;
     padding:2px 0 0 5px;}
   }//.open_menu

  }//btn

  #gnb{max-width:1400px; margin:0 auto; float:right;}
  #gnb .gnb_inner{padding-right:250px;}
  #gnb .gnb_inner>ul>li{float:left; text-align:center; height:30px; width:118px; position:relative;}
  #gnb .gnb_inner>ul>li>a{text-decoration: none; font-size: 16px; line-height: 28px; color: rgb(47,28,17); font-weight: 600;
    transition: all .4s; display: block; height: 30px; font-family:'Noto Sans KR', 'sans-serif';}
  #gnb .gnb_inner>ul>li>a:hover{color:#dc1212;}
  #gnb .gnb_inner>ul>li>.sub{opacity:0; visibility: hidden; transition:all .2s; background:rgba(255,255,255,.8); width:118px; position:absolute;  top:30px; z-index:200;}
  #gnb .gnb_inner>ul>li>.sub li {padding:5px 0;}
  #gnb .gnb_inner>ul>li>.sub li a{color:#353535; text-decoration:none; font-family:'Noto Sans KR', sans-serif; font-size:12px;}
  #gnb .gnb_inner>ul>li>.sub li a:hover{color:#dc1212;}
  #gnb .gnb_inner>ul>li:hover .sub{opacity:1; visibility:visible;}
}//header


#content{max-width:1400px; margin:0 auto; position:relative; background:#dc1212; background-size:400px;
  .main_view{width:80%;
    .view{
      img{width:100%; height:100%;}
    }
  }
}

#content #content_main .delivery_w{position:absolute; top:0; left:80%; width:20%;}
#content #content_main .delivery_w h3{padding:35px 10px 40px 20px; text-align:center;}
#content #content_main .delivery_w img{width:20%}
#content #content_main .delivery_w h3 .mcd{font-family:'Noto Sans KR', sans-serif; font-size:25px; font-weight:bold; color:#ffbd11;}
#content #content_main .delivery_w #address1{margin:5px 0 0 20px; width:150px;}
#content #content_main .delivery_w .delivery_info{font-family:'Noto Sans KR', sans-serif; font-size:14px; font-weight:200; color:#fff; text-align:left;
  padding-left:20px; word-break:keep-all; margin:15px 0 20px; ;}
#content #content_main .delivery_w>a{font-family:'Noto Sans KR', sans-serif; font-size:12px; font-weight:300; color:#fff; padding-left:12px; }
#content #content_main .delivery_w .btn{margin-top:30px; text-align:center;}
#content #content_main .delivery_w .btn a{width:80px; background:#ffbd11; text-decoration:none; color:#fff; border-radius:10px; padding:10px;}

#content .dd{display:none;}
#content{
  .delivery{ margin-top:-2px;width:50%; background:#dc1212; font-family:'Noto Sans KR', 'sans-serif';
    float:left; display:flex; flex-direction:row;
    h3{font-size:20px; color:#ffbd11; font-weight:bold; margin:0 auto; text-align:center;  line-height:50px;
    span{color:#fff;font-size:14px;}
  }//h3
    p{padding-top:10px; float:right; margin-right:10px;
    a{color:#fff; text-decoration:none; background:#ffbd11;  border-radius:10px; line-height:30px; padding:5px 5px; font-size:14px;}
  }//p
}//.delivery
.drive{ margin-top:-2px;width:50%; background:#ffbd11; font-family:'Noto Sans KR', 'sans-serif'; float:left;
  display:flex; flex-direction:row;
  h3{font-size:20px; color:#dc1212; font-weight:bold; margin:0 auto; text-align:center;  line-height:50px;
  span{color:#fff; font-size:14px;}
}//h3
  p{padding-top:10px; float:right; margin-right:10px;
  a{color:#fff; text-decoration:none; background:#dc1212;  border-radius:10px; line-height:30px; padding:5px 5px; font-size:14px;}
}//p
}//.drive
}

#enjoy{background:#2c251e;
  h3{text-align:center; font-family:'Noto Sans KR', 'sans-serif'; font-weight:bold; color:#fff; font-size:25px; padding:80px;}
}//enjoy

.enjoy_view .enjoy_slider{font-size:0;}
.enjoy_view .enjoy_slider img{width:268px;}
.enjoy_view .enjoy_slider li{padding:20px 0 70px;}
.bx-wrapper{margin:0 auto; position:relative;}

.enjoy_view .bx-controls-direction{
  a{width:30px; height:30px; position:absolute; top:50%; margin-top:-15px;
  border:3px solid rgba(255,255,255,.7); border-width:3px 3px 0 0;}
  .bx-prev{left:-40px; transform:rotate(-135deg);}
  .bx-next{right:-10px; transform:rotate(45deg);}
}//bx-controls-direction

.enjoy_view .bx-pager{position:absolute; bottom:10px; left:50%; z-index:60;
transform:translateX(-50%); font-size:0;
  div{float:left; margin:0 5px;}
  a{width:6px; height:6px; background:#fff; opacity:.2;
  text-indent:-9999px; border-radius:50%; display:block;}
  a.active{opacity:1;}
}
#menu #tab_contents{max-width:816px; margin:0 auto; position:relative; height:260px;}
#menu #tab_contents > div{visibility: hidden; opacity:0; transition:all .3s;}
#menu #tab_contents > div.selected{visibility: visible; opacity:1;}
#menu #tab_contents .menu_view,
#menu #tab_contents .set_view,
#menu #tab_contents .mac_view,
#menu #tab_contents .cafe_view{position:absolute; top:0; left:0;}


#menu{
  h3{text-align:center; font-family:'Noto Sans KR', 'sans-serif'; font-weight:bold; color:#333; font-size:30px; padding:80px 80px 25px 80px;}
  ul{text-align:center; margin-bottom:20px;
  li{display:inline;
  a{text-decoration:none; color: #222; font-family:'Noto Sans KR', 'sans-serif'; font-weight:400;}
    }
    }
  .menu_slider{
  margin:0 auto; position:relative;
  }
}//#menu
.menu_view .menu_slider li{padding:20px 0 70px; text-align:center;}
.menu_view .menu_slider li a{font-size:12px; text-decoration:none; color:#353535; font-weight:bold;}
.set_view .menu_slider li{padding:20px 0 70px; text-align:center;}
.set_view .menu_slider li a{font-size:12px; text-decoration:none; color:#353535; font-weight:bold;}
.mac_view .menu_slider li{padding:20px 0 70px; text-align:center;}
.mac_view .menu_slider li a{font-size:12px; text-decoration:none; color:#353535; font-weight:bold;}
.cafe_view .menu_slider li{padding:20px 0 70px; text-align:center;}
.cafe_view .menu_slider li a{font-size:12px; text-decoration:none; color:#353535; font-weight:bold;}


#menu .bx-controls-direction{
  a{width:30px; height:30px; position:absolute; top:50%; margin-top:-15px;
  border:3px solid rgba(0,0,0,.7); border-width:3px 3px 0 0;}
  .bx-prev{left:-40px; transform:rotate(-135deg);}
  .bx-next{right:-10px; transform:rotate(45deg);}
}//bx-controls-direction

#menu .bx-pager{position:absolute; bottom:10px; left:50%; z-index:60;
transform:translateX(-50%); font-size:0;
  div{float:left; margin:0 5px;}
  a{width:6px; height:6px; background:#222; opacity:.2;
  text-indent:-9999px; border-radius:50%; display:block;}
  a.active{opacity:1;}
}//#menu .bx-pager

.mcdrive{
  min-height:500px; background:url('../images/mcdrive.jpg');
  background-attachment: fixed; background-size:cover; position:relative;
  .mcdrive_ani{
    h4{font-size:65px; font-style: italic; font-weight:bold; color:#fff; font-family:'Noto Sans KR', 'sans-serif';
      margin-bottom:35px; transform:translateX(800px); transition:1s}//h4
      span{font-size: 25px; color:#fff; font-family:'Noto Sans KR', 'sans-serif'; transform:translateX(0px); transition:1.3s}
  }//mcdrive_info
  .mcdrive_info{
    position:absolute; bottom:40px; right:80px;
    p{padding:15px 0; background:#ffbd12; text-align:center; width:180px; margin-top:35px; border-radius:50px;
      a{font-size:18px; color:#fff; text-decoration:none; font-weight:bold;
      }//a
    }//p
  }//mcdrive_info
}//.mcdrive

.mcdrive_ani.active h4{transform:translateX(0);}
.mcdrive_ani.active span{transform:translateX(0);}

footer{background:#2C2A29;
  .footer_inner{
    margin:0 auto; max-width:1000px; background:#2C2A29; color:#ccc; padding:15px 0; font-size:12px; font-family:'Noto Sans KR', 'sans-serif';
    text-align:center; line-height:30px;
  }
}

@media(max-width:1200px){
  header{
    #inner{
      background:url('');
      .nav{padding:0;}//.nav
    }//#inner
    #gnb{
      .gnb_inner{padding-right:0;}//.gnb_inner
    }//#gnb
  }//header
  #content{
    background:none;
    .main_view{width:100%;}
    .delivery_w{display:none; }
  }//#content
}//@media

@media(max-width:760px){
  header #inner #logo{margin-bottom:15px;}
  header #inner #logo h1 a{background:url('../images/mcdonalds-logo_02.jpg'); width:110px; height:30px; border-radius:0%;}
  header #inner #btn{display:block;}
  header #inner #btn .open_menu.active{z-index:101;}
  header #inner #btn .open_menu.active .xi-bars{display:none;}
  header #inner #btn .open_menu.active .xi-close{display:block;}
  header #inner .nav{display:none;}
  header #inner #gnb .gnb_inner{position:absolute; width:100%; height:100vh; background:#333; top:57px; left:-100%; transition:.5s;}
  header #inner #gnb .gnb_inner.active{left:0; z-index:101;}
  header #inner #gnb .gnb_inner ul li{float:none;}
  header #inner #gnb .gnb_inner ul li a{border-bottom:1px solid rgba(0,0,0,.2);}
}
@media(max-width:760px){
  header{
    #inner{
      #logo{margin-bottom:15px;
        h1{
            a{background:url('../images/mcdonalds-logo_02.jpg'); width:110px; height:30px; border-radius:0%;}
        }
      }
      #btn{display:block;
        .open_menu.active{
        z-index:101;
       .xi-bars{display:none;}
       .xi-close{display:block;}
        }
      }
      .menu{position: fixed; width: 100%; height: 100%; z-index: 100; top: 0; left: 0; overflow: hidden; background: #000;
        padding: 0 50px; box-sizing: border-box; transition: all .2s ease-in-out;
        transform: translateY(-100%); visibility: hidden;
        .nav{
          #gnb_top{margin-top:20px;;
            ul{display:none;}
            .searchbox{
              .search{display:none;}
            }//.searchbox
          }//#gnb_top
        }//.nav
      }
    }//#inner
  }//header
  #content{
    .dd{display:block;}
  }
  #enjoy{
    h3{padding:20px;}
  }//#enjoy
  #menu{
    h3{padding:20px;}
  }//#menu
}//@media

@media(max-width:560px){
  #content{
    .dd{
      .drive{width:100%;}
      .delivery{width:100%;}
    }
  }
}//@media
